<div class="col-10 offset-1 m-3">
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.schoolClass) }}
        {{ form_widget(form.schoolClass) }}
    </div>
    <div class="form-group">
        {{ form_label(form.picture) }}
        {{ form_widget(form.picture) }}
    </div>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>