{% extends 'base.html.twig' %}

{% block title %}Representation{% endblock %}

{% block body %}
    <h1>Representation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ representation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ representation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ representation.description }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ representation.startDate|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ representation.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_representation_index') }}">back to list</a>

    <a href="{{ path('admin_representation_edit', {'id': representation.id}) }}">edit</a>

    {{ include('adminRepresentation/_delete_form.html.twig') }}
{% endblock %}
