{% extends 'base.html.twig' %}

{% block title %}Internship{% endblock %}

{% block body %}

    <section class="card border-secondary bg-primary text-white m-3">
        <h1 class="text-center text-uppercase p-3">
            {{ internship.name|upper }}
        </h1>
    </section>

    <section class="m-3">
        <div class="card col-xs-10 offset-xs-1 col-md-8 offset-md-2 bg-primary text-white">
            <img class="card-img-top col-8 offset-2 mt-3 mb-2" src="{{ internship.picture }}" alt="Card {{ internship.name }}">
            <div class="card-body">
                <h5 class="card-title text-center">{{ internship.name }}</h5>
                <p class="card-text text-center">From : {{ internship.startDate|date('d-m-Y') }}</p>
                <p class="card-text text-center">{{ internship.description }}</p>
                {% if app.user %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-warning">Reserve</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
