{% extends 'base.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}

    <section class="card border-secondary bg-primary text-white m-3">
        <h1 class="text-center text-uppercase p-3">
            {{ partner.name|upper }}
        </h1>
    </section>

    <section class="m-3">
        <div class="card col-xs-10 offset-xs-1 col-md-8 offset-md-2">
            <img class="card-img-top" src="{{ partner.picture }}" alt="Card {{ partner.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ partner.name }}</h5>
                <div class="row mb-3">
                    <a href="{{  partner.link }}" target="_blank">Follow</a>
                </div>
                <a href="{{ path('admin_partner_index') }}" class="btn btn-outline-dark col-4 m-1">Back</a>
                <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}" class="btn btn-outline-primary col-4 m-1">Modify</a>
            </div>
        </div>
    </section>

{% endblock %}
