{% extends 'base.html.twig' %}

{% block title %}SchoolClass index{% endblock %}

{% block body %}

    <section class="card border-secondary bg-primary text-white m-3">
        <h1 class="text-center text-uppercase p-3">
            training management
        </h1>
    </section>

    <section class="mr-4">
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary btn-lg"
               href="{{ path('admin_class_new') }}">Add a training</a>
        </div>
    </section>

    <section class="m-3">
        <div class="row d-flex justify-content-around ">
            {% for class in classes %}
                <div class="card col-xs-11 col-md-5 flex-row m-1">
                    <div class="card-body col-9 align-self-center">
                        <h5 class="card-title">{{ class.name }}</h5>
                        <p class="card-text">{{ class.startDate|date("m/d/Y") }}</p>
                    </div>
                    <div class="align-self-center col-2">
                                    <a class="btn btn-outline-secondary"
                                       href="{{ path('admin_class_show', {'id': class.id}) }}">
                                        Gestion
                                    </a>
                                    {{ include('adminSchoolClass/_delete_form.html.twig') }}
                    </div>
                </div>
            {% else %}
                <div>
                    <h5>No records found</h5>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
