{% extends 'base.html.twig' %}

{% block title %}SchoolClass{% endblock %}

{% block body %}

    <section class="card border-secondary bg-primary text-white m-3">
        <h1 class="text-center text-uppercase p-3">
            {{ class.name|upper }}
        </h1>
    </section>

    <section class="m-3">
        <div class="card col-xs-10 offset-xs-1 col-md-8 offset-md-2">
            <img class="card-img-top" src="{{ class.picture }}" alt="Card {{ class.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ class.name }}</h5>
                <p class="card-text">{{  class.description }}</p>
                <hr>
                <p class="card-text">{{  class.duration }} month</p>
                <p class="card-text">{{  class.price }} €</p>
                <p class="card-text">From {{ class.startDate|date('d-m-Y') }}</p>
                <hr>
                <a href="{{ path('admin_class_index') }}" class="btn btn-outline-dark col-4 m-1">Back</a>
                <a href="{{ path('admin_class_edit', {'id': class.id}) }}"
                   class="btn btn-outline-primary col-4 m-1">Modify</a>
            </div>
        </div>
    </section>

{% endblock %}
